<%= render 'error_messages' %>

<p>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, :class => "full-width" %>
</p>

<p>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body %>
</p>

<p><%= f.submit "Submit", :class => "button grey medium" %></p>
