<div class="box-header">
  <h2>Password Reset</h2>
</div>
<div class="box">
  <p>Please enter a your new password two times below.</p>
  <%= form_for @user, :url => password_reset_path(@user), :method => :put, :html => { :class => "form col" } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
          <p class="notification error"><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <p>
      <%= f.label :email, "Email:", :class => "strong" %>
      <%= @user.email %>
    </p>

    <p>
      <%= f.label :password, "Password:", :class => "strong" %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Password confirmation:", :class => "strong" %>
      <%= f.password_field :password_confirmation %>
      <%= hidden_field_tag :token, @token %>
    </p>

    <p><%= f.submit "Submit", :class => "button medium grey fr" %>
       <br class="cl" /></p>
  <% end %>
</div>
