<div class="box-header">
  <h2>Password Reset</h2>
</div>
<div class="box">
  <% flash.each do |key, value| %>
    <div class="notification <%= key %>">
      <span class="strong"><%= key.capitalize %></span>
      <%= value %>
    </div>
  <% end %>

  <p>Please enter your email address below so that we can send you
     an email with your reset password link.</p>

  <%= form_tag password_resets_path, :method => :post, :class => "form col" do %>

      <p>
        <%= label_tag :email, "Email:", :class => "strong" %>
        <%= text_field_tag :email, nil, :tabindex => 1, :autofocus => true, :title => "Please enter your email address." %>
      </p>

      <p><%= submit_tag "Submit", :class => "button medium fr grey" %>
         <br class="cl" /></p>
    </div>
  <% end %>
</div>
