<%= render 'error_messages' %>

<p>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, :class => "full-width" %>
</p>

<p>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body %>
<p>

<p>
  <%= f.label :published, 'Status:' %>
  <%= f.select(:published, options_for_select([["Published", true], ["Draft", false]], (@post.new_record? ? false: @post.published))) %>
</p>

<%= f.hidden_field :user_id, :value => current_user.id %>

<p><%= f.submit "Submit", :class => "button grey medium" %></p>
