<%= render 'error_messages' %>

<div class="field">
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.text_area :body %>
</div>

<p class="drop-down">
  <%= f.label :published, 'Status' %>
  <%= f.select(:published, options_for_select([["Published", true], ["Draft", false]], (@post.new_record? ? false: @post.published))) %>
</p>

<%= f.hidden_field :user_id, :value => current_user.id %>

<%= f.submit "Submit" %>
