<section id="dashtabs" class="grid_12">
  <p><%= link_to "Add a new post", new_admin_post_path, :class => "button small fr black" %></p>
  <% if @posts.empty? %>
    <p>There are no posts yet. Why don't you <%= link_to "add one", new_admin_post_path %> now?</p>
  <% else %>
    <div id="dashtabs-pages" class="box-content no-padding">
      <table class="table no-border">
        <thead>
          <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Date</td>
            <td>Operations</td>
          </tr>
        </thead>
        <tbody>
          <% @posts.each_with_index do |post, index| %>
            <% klass = (index.odd?) ? "alt" : "" %>
            <tr class="<%= klass %>">
              <% kondition = (current_user.id == post.user.id || current_user.admin?) %>
              <td><%= kondition ? link_to(post.title, edit_admin_post_path(post)) : post.title %></td>
              <td><%= post.user.username %></td>
              <td><%= time_ago_in_words(post.created_at) %> ago</td>
              <% if kondition %>
                <td class="last">
                  <%= link_to image_tag("img/icons/16/page_edit.png", :alt => "Edit Post"), edit_admin_post_path(post), :title => "Edit Post", :class => "tooltip" %>
                  <%= link_to image_tag("img/icons/16/page_delete.png", :alt => "Delete Post"), admin_delete_post_path(post), :title => "Delete Post", :class => "tooltip" if current_user.admin? %>
                </td>
              <% else %>
                <td class="last">(None allowed)</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer">
      <span class="txt-smaller txt-light">&nbsp;</span>
      <%= paginate @posts %>
    </div>
  <% end %>
</section>
