<section id="dashtabs" class="grid_12">
  <div id="dashtabs-pages" class="box-content no-padding">
    <table class="table no-border">
      <thead>
        <tr>
          <td>Username</td>
          <td>Email</td>
          <td>Date</td>
          <td>Operations</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <% klass = (index.odd?) ? "alt" : "" %>
          <tr class="<%= klass %>">
            <td><%= link_to user.username, edit_admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= time_ago_in_words(user.created_at) %> ago</td>
            <td class="last">
              <%= link_to image_tag("img/icons/16/user.png", :alt => "Show user"), admin_user_path(user),  :title => "Show user", :class => "tooltip"  %>
              <%= link_to image_tag("img/icons/16/user_edit.png", :alt => "Edit user"), edit_admin_user_path(user), :title => "Edit user", :class => "tooltip" %>
              <% unless current_user.id == user.id %>
                <% if user.active? %>
                  <%= link_to image_tag("img/icons/16/user_delete.png", :alt => "Suspend user"), admin_user_suspend_path(user), :title => "Suspend user", :class => "tooltip" %>
                <% else %>
                  <%= link_to image_tag("img/icons/16/user_add.png", :alt => "Activate user"), admin_user_activate_path(user), :title => "Activate user", :class => "tooltip" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <span class="txt-smaller txt-light">&nbsp;</span>
    <%= paginate @users %>
  </div>
</section>
