<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Ambition</title>

  <!-- Make sure the latest version of IE is used -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= csrf_meta_tags %>

  <%= render "admin/stylesheets_includes" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "js/modernizr-1.5.min.js" %>
</head>
<body class="sidebar-left">
  <header>
    <%= render "admin/header" %>
  </header>

  <div id="page">

    <%= render "admin/sidebar" %>

    <div id="page-content" class="container_12">
      <%= link_to "Close Sidebar", "#", :id => "close_sidebar", :class => "tooltip east", :title => "Close Sidebar" %>
      <%= link_to "Open Sidebar", "#", :id => "open_sidebar", :class => "tooltip east", :title => "Open Sidebar" %>

      <div id="page-header">
        <h1><%= @title %></h1>
      </div>

      <%= yield %>

      <% if Rails.env.development? %>
        <div id="footnotes_holder"></div>
      <% end %>

      <br class="cl" />
    </div>
  </div>
  <footer>Copyright &copy;<%= Time.now.year %>, Made with tender love by <%= link_to "Aziz Light", "http://azizlight.me/" %></footer>

  <%= render "admin/javascript_includes" %>

</body>
</html>
